* {
    font-family: 'Roboto' ;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 18px 18px;
    gap: 27rem;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 120px 200px;
    gap: 90px;
    height: 240px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero .content h1 {
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px;
    margin-bottom: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    gap: 15px;
    display: flex;
}

.footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.button-hero {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    flex: 0;
    width: 120px;
    padding: 12px;
    flex: 0 1 auto;
    font-weight: 700;
    border: 0px;
}

.placeholder {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 270px;
    width: 390px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.placeholder p {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > * {
    padding: 25px;
}
.illustrations {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 1.8rem;
}

.illustrations > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    text-align: center;
}

.illustro {
    border: 4px solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    padding-top: 70px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 130px 240px 70px;
}

.text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 0;
}

.thor {
    text-align: right;
    font-weight: 900;
    font-size: 25px;
}